@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.flash {
  @apply fixed top-2 right-2 w-80 sm:w-96 z-50 rounded-lg p-3 shadow-md shadow-zinc-900/5 ring-1;
}

.flash--info {
  @apply bg-emerald-50 text-emerald-800 ring-emerald-500 fill-cyan-900;
}

.flash--error {
  @apply bg-rose-50 p-3 text-rose-900 shadow-md ring-rose-500 fill-rose-900;
}

.flash-title {
  @apply flex items-center gap-1.5 text-[0.8125rem] font-semibold leading-6;
}

.flash-title-icon {
  @apply w-4 h-4;
}

.flash-body {
  @apply mt-2 text-[0.8125rem] leading-5;
}

.flash-close {
  @apply absolute p-2 top-2 right-1;
}

.flash-close-icon {
  @apply w-5 h-5 stroke-current opacity-40;
}

.flash-close:hover .flash-close-icon {
  @apply opacity-70;
}
