Complete your registration for plantopo.com by clicking the link below

{{ .VerificationLink }}

If you did not intend to sign up for an account with plantopo.com you can contact at daniel@plantopo.com or by replying
to this email.
