#map-app-root {
  width: 100%;
  height: 100%;
}

.map-app {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: minmax(250px, 12.5%) 1fr;
  grid-template-rows: 1fr min-content;
}

.controls {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  z-index: 1;
  align-self: end;
  justify-self: end;
  margin-right: 16px;
  margin-bottom: 16px;
}

.map-base {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 0;
}

.credit-images {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  z-index: 1;
  align-self: end;
}

.map-app:has(.sidebar) .credit-images {
  grid-column: 2 / -1;
}
