Hi {{.FullName}}

Confirm your email address to get started with PlanTopo.

Click or paste this link to confirm:

{{.ConfirmUrl}}

If you have any questions or need help please contact me at my personal email
daniel@danielzfranklin.org
