Hi {{.ToEmail}},

{{.FromFullName}} shared "{{.MapName}}" with you on PlanTopo.

PlanTopo is a tool for editing maps collaboratively.

You can sign up for an account here:

{{.SignupUrl}}
{{if .Message}}
{{.FromFullName}} says:

> {{.Message}}
{{end}}
