Hi {{.FullName}}

A request has been made to reset your password for your account on PlanTopo.

Click or paste this link to reset your password:

{{.ConfirmUrl}}

No changes have been made to your account yet.

If you have any questions or need help please contact me at my personal email
daniel@danielzfranklin.org
