{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@pt/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSideEffects": false
}
