{
  "plugins":
    ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@pt/(.*)$", "^(@/|[./])"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSideEffects": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "checkIgnorePragma": true,
  "embeddedLanguageFormatting": "off",
}
