{
	email daniel@danielzfranklin.org

	exec npm run dev {
		directory app/
		timeout 0
		startup
	}
}

www.localhost {
	redir https://localhost{uri}
}

(base) {
	encode zstd gzip
	reverse_proxy /assets/* localhost:4000
	reverse_proxy /api/* localhost:4000
	reverse_proxy /account/* localhost:4000
	reverse_proxy /live/* localhost:4000
}

localhost {
	import base
	reverse_proxy /phoenix/* localhost:4000 # for live reload
	reverse_proxy * localhost:3000
}

prod.localhost {
	rewrite /map /map.html

	file_server {
		root app/out
		disable_canonical_uris
	}

	handle_errors {
		rewrite * /{err.status_code}.html
		file_server
	}

	import base
}
