{
	log {
		level info
	}

	email daniel@danielzfranklin.org
}

(allow_origin_only) {
	header Access-Control-Allow-Origin "{args[0]}"
	header Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"

	@cross_origin_websocket {
		header Connection *Upgrade*
		header Upgrade websocket
		not header Origin "{args[0]}"
	}
	respond @cross_origin_websocket 403
}

localhost {
	log localhost

	import allow_origin_only "https://localhost"

	@logged_in_home {
		header Cookie *unchecked_user*
		path /
	}
	rewrite @logged_in_home /user_home

	@server_path {
		path /api/*
		path /account/*
	}
	reverse_proxy @server_path localhost:4000

	file_server /mapSources.json {
		root layer_data/out/
	}

	# nextjs dev server
	reverse_proxy * localhost:3000
}
