Hi {{.ToFullName}},

{{.FromFullName}} requested access to your map "{{.MapName}}" on PlanTopo.

Requested role: {{.RequestedRole}}

You can give {{.FromFullName}} access here:

https://plantopo.com/access/?requestId=01HF6TJRPWX9MRC4WDZ8TDDVX2

{{.FromFullName}} says:

> {{.Message}}
