[Unit]
Description=PlanTopo API
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/dzfranklin/plantopo-api:latest
PublishPort=3030:4000
EnvironmentFile=/etc/plantopo/api.env

[Service]
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
