{{define "main"}}
    <table>
        <tr>
            <td>ID</td>
            <td>{{.Entry.ID}}</td>
        </tr>
        <tr>
            <td>Inserted at</td>
            <td>{{.Entry.InsertedAt}}</td>
        </tr>
        <tr>
            <td>Number</td>
            <td>{{.Entry.Number}}</td>
        </tr>
        <tr>
            <td>Comment</td>
            <td>{{.Entry.Comment}}</td>
        </tr>
    </table>
{{end}}
