<!DOCTYPE html>
<html lang="en" class="h-full bg-white">
<head>
    <title>Login to PlanTopo admin</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
</head>
<body class="h-full">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to the admin
            section</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="form" class="space-y-6">
            <div id="errContainer" class="border-l-4 border-red-400 bg-red-50 p-4" style="display: none">
                <div class="flex ml-3">
                    <p class="text-sm text-red-700" id="err"></p>
                </div>
            </div>

            <div>
                <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
                <div class="mt-2">
                    <input id="email" name="email" type="email" autocomplete="email" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                </div>
                <div class="mt-2">
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    const errContainerEl = document.querySelector("#errContainer");
    const errEl = document.querySelector("#err");
    const formEl = document.querySelector("#form");

    function showError(message) {
        errContainerEl.style.display = "";
        errEl.innerText = message;
    }

    function clearError() {
        errContainerEl.style.display = "none";
        errEl.innerText = "";
    }

    formEl.addEventListener("submit", async (evt) => {
        evt.preventDefault();
        clearError();
        const data = new FormData(formEl);
        const resp = await fetch("/api/v1/auth/authenticate-browser", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                email: data.get("email"),
                password: data.get("password")
            })
        })
        const payload = await resp.json();
        if (!resp.ok) {
            showError(JSON.stringify(payload));
            return;
        }
        location.href = '/admin';
    })
</script>
</body>
</html>
