{{define "main"}}
    <ul>
        <li><a href="/admin/review-british-and-irish-hill-photos">Review british and irish hill photos</a></li>
        <li><a href="/admin/geophotos/flickr-regions">Geophotos flickr index regions</a></li>
    </ul>
{{end}}
