@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

.StylePopoverContent {
  border-radius: 4px;
  padding: 25px;
  width: 500px;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.StylePopoverContent:focus {
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px, 0 0 0 2px var(--violet7);
}
.StylePopoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.StylePopoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.StylePopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.StylePopoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.StylePopoverArrow {
  fill: white;
}

.StylePopoverClose {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  position: absolute;
  top: 5px;
  right: 5px;
}
.StylePopoverClose:hover {
  background-color: var(--violet4);
}
.StylePopoverClose:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
